
{% extends "base.tpl.html" %}
{% block home %}
<a class="navbar-brand" href="{% url 'usuarios.views.verInicioF' %}" class="link">REI-NET</a>
{% endblock %}
{% block content %}

   <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Demandas de la Red de Innovaci&oacute;n</span></h1>
          </div>
        </div>
      </div>      
    </div>
    
    <div class="container">
      <div class="row">
        <div class=" ">
          <div class="row faq-cats">
            <div class="col-xs-6 col-xs-offset-6 visible-xs">
              <ul>
                <li><i class="fa fa-home fa-2x"></i><a href="/misDemandas/">Visualizar mis Demandas</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-9">
        {%if errors%}
          <ul style="color:red">
            {%for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
        {% endif %}
          <form class="form-inline" action="/searchDemanda/" method="GET" role="form">
            <div class="row">
              <div class="col-md-10 col-sm-10">
                <div class="input-group">
                  <label class="sr-only" for="search3">Search</label>
                    <input type="text" class="form-control " id="search3" name="busquedaDemandaRed" placeholder="Encuentre demandas de su inter&eacute;s">
                  <span class="input-group-btn">
                    <input type="submit" class="btn btn-blue" value="Buscar">
                    <!--<button type="submit" class="btn btn-blue">Buscar</button>-->
                  </span>
                </div>
              </div>
            </div>
          </form><br />
        </div>

        <div class="col-md-6 col-sm-3 hidden-xs">
          <div class="row faq-cats">
            <div class="col-md-6 col-md-offset-6 col-sm-12">
              <ul>
                <li><i class="fa fa-home fa-2x"></i><a href="/misDemandas/">Visualizar mis Demandas</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">   
      <div class="row">

      <!-- Se presenta las demandas --> 
         {% for c in lst_demandas %}
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                      <img class="img-responsive" src="{{MEDIA_URL}}{{ c.imagen }} " alt="Oferta">
                      <div class="visit"><a href="verDemanda/?q={{c.idDemanda}}"><i class="fa fa-question-circle"></i> Ver Demanda</a></div>
                      <div class="caption">
                        <h4>{{c.nombre}}</h4>
                        <div class="rating">
                            {{c.calificacionGeneral}}
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i>
                          </div>
                        <ul class="text-muted list-inline">
                          <li><i class="fa fa-user"></i> <a href="#">Administrator {{c.idusuario}}</a></li>
                          <li><i class="fa fa-calendar"></i> {{c.tiempo_inicio_disponible}}</li>
                          <li><i class="fa fa-comments-o"></i> 6 comments</li>
                        </ul>
                          
                        <p>{{c.descripcion}}</p>
                      </div>
                    </div>
                </div>
          {% endfor %}

          {% if buscarDema %}
          <p>Has buscado por: <strong>{{ nombre }}</strong></p>
            {% if demandas %}
                <p>Encontrado {{ demandas|length }} Demandas {{ ofertas|pluralize }}.</p>
                {% for ofert in demandas %}

                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                          <img class="img-responsive" src="{{MEDIA_URL}}{{ c.imagen }} " alt="Oferta">
                          <div class="visit"><a href="verDemanda/?q={{c.idDemanda}}"><i class="fa fa-question-circle"></i> Ver Demanda</a></div>
                          <div class="caption">
                            <h4>{{c.nombre}}</h4>
                            <div class="rating">
                                {{c.calificacionGeneral}}
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i> 
                                <i class="fa fa-star"></i>
                              </div>
                            <ul class="text-muted list-inline">
                              <li><i class="fa fa-user"></i> <a href="#">Administrator {{c.idusuario}}</a></li>
                              <li><i class="fa fa-calendar"></i> {{c.tiempo_inicio_disponible}}</li>
                              <li><i class="fa fa-comments-o"></i> 6 comments</li>
                            </ul>
                              
                            <p>{{c.descripcion}}</p>
                          </div>
                        </div>
                    </div>


                    {% endfor %}
            {% else %}
                <p>Las Demandas no concuerda con sus criterios de búsqueda.</p>    
            {% endif %}
          {%endif%}
        </div>      
        <div class="clearfix visible-sm"></div>               
      </div>
    </div>  
  {% endblock %}