    {% extends "baseLoggedin.html" %}
{%block content%}
	<div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Inicio</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ul class="row list-inline gallery-list" id="isotope-container">
          <li class="isotope-item cat-3 cat-1">
          <a href="DEMANDA_crear_demanda.html">
            <span class="gallery-text">
              <span class="gallery-title"> + Crear Demanda</span>
            </span>
          </a>
        </li>
      </ul>
      <h3>MIS DEMANDAS</h3>
      <ul class="row list-inline gallery-list" id="isotope-container">
        <li class="isotope-item cat-1 cat-2 cat-4">
          <a href="DEMANDA_perfil.html">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../static/img/imgDemandaOferta/works1.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Demanda 1</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="DEMANDA_perfil.html">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../static/img/imgDemandaOferta/works2.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Demanda 2</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-3 cat-1">
          <a href="DEMANDA_perfil.html">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../static/img/imgDemandaOferta/works3.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Demanda 3</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="DEMANDA_perfil.html">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../static/img/imgDemandaOferta/works4.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Demanda 4</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        
      </ul>
    </div>
	
	<div class="container">
         <h3>DEMANDAS EN LA RED</h3>
      <ul class="row list-inline gallery-list" id="isotope-container">
        <li class="isotope-item cat-1 cat-2 cat-4">
          <a href="DEMANDA_perfil.html">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../static/img/imgDemandaOferta/works1.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Demanda 1</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="DEMANDA_perfil.html">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../static/img/imgDemandaOferta/works2.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Demanda 2</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-3 cat-1">
          <a href="DEMANDA_perfil.html">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../static/img/imgDemandaOferta/works3.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Demanda 3</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="DEMANDA_perfil.html">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../static/img/imgDemandaOferta/works4.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Demanda 4</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        
      </ul>
     
    </div>
  {% endblock %}