     {% extends "base.tpl.html" %}
{%block content%}

    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Oferta {{oferta.nombre}}</span></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">        
      <div class="row">   
        <div class="col-sm-10">            
            <div class="col-sm-10">
              <h3>
                {{oferta.nombre}}
              </h3>
            </div>
            <!-- Este es el codigo para el rating las estrellitas-->
            <div class="col-sm-12">
              <ul class="text-muted list-inline">
                <li><i class="fa fa-flag"></i> {{ oferta.estadoOferta }}</li>
                <li><i class="fa fa-user"></i> <a href="/verPerfil/?q={{oferta.idusuario}}">{{ oferta.idusuario }}</a></li>
                <li><i class="fa fa-calendar"></i> {{oferta.tiempo_inicio_disponible}}</li>
                
              </ul>
            </div>
        </div>
        <div class="col-sm-8">
          <!-- Blog Post -->         
          
          <p class="blog-text">
            <div class="col-md-3 col-sm-6">
              <div class="thumbnail">
                  <img src="/media/{{MEDIA_URL}}{{ oferta.imagen }}" class="img-responsive" alt="Oferta">
                  <div class="visit"><a href="OfertaVer"><i class="fa fa-question-circle"></i> Galeria</a></div>
              </div>
            </div>
            {{ oferta.descripcion }}
            <br /><br />
              {% if oferta.dominio == 0|stringformat:"s" %}
                        <td colspan=4 style="text-align:center">Mundial</td>
                      {% elif oferta.dominio == 1|stringformat:"s" %}
                        <td colspan=4 style="text-align:center">Regional</td>
                      {% elif oferta.dominio == 2|stringformat:"s" %}
                        <td colspan=4 style="text-align:center">Nivel Pais</td>
                      {%else%}
                        <td>No tiene dominio</td>
                      {%endif%}
            </p>

          
          <div class="row">
            <!-- Informacion general dominio,subdominio,disponibilidad, lugar de palicacion -->
            <div class="col-sm-12">
              <div class="block-header">
                <h2>
                  <span class="title">Informaci&oacute;n General</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
                </h2>
              </div>
              <div class="col-sm-10">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text-muted">Dominio</td>
                      {% if oferta.dominio == 0|stringformat:"s" %}
                        <td colspan=4 style="text-align:center">Mundial</td>
                      {% elif oferta.dominio == 1|stringformat:"s" %}
                        <td colspan=4 style="text-align:center">Regional</td>
                      {% elif oferta.dominio == 2|stringformat:"s" %}
                        <td colspan=4 style="text-align:center">Nivel Pais</td>
                      {%else%}
                        <td>No tiene dominio</td>
                      {%endif%}
                    </tr>
                    <tr>
                      <td class="text-muted">Lugar de Aplicación</td>
                      {% if oferta.lugar_aplicacion == 1|stringformat:"s" %}
                        <td>Azuay</td>
                      {% elif oferta.lugar_aplicacion == 2|stringformat:"s" %}
                        <td>Bolivar</td>
                      {% elif oferta.lugar_aplicacion == 3|stringformat:"s" %}
                        <td>Caniar</td>
                      {% elif oferta.lugar_aplicacion == 4|stringformat:"s" %}
                        <td>Carchi</td>
                      {% elif oferta.lugar_aplicacion == 5|stringformat:"s" %}
                        <td>Chimborazo</td>
                      {% elif oferta.lugar_aplicacion == 6|stringformat:"s" %}
                        <td>Cotopaxi</td>
                      {% elif oferta.lugar_aplicacion == 7|stringformat:"s" %}
                        <td>El Oro</td>
                      {% elif oferta.lugar_aplicacion == 8|stringformat:"s" %}
                        <td>Esmeraldas</td>
                      {% elif oferta.lugar_aplicacion == 9|stringformat:"s" %}
                        <td>Galapagos</td>
                      {% elif oferta.lugar_aplicacion == 10|stringformat:"s" %}
                        <td>Guayas</td>
                      {% elif oferta.lugar_aplicacion == 11|stringformat:"s" %}
                        <td>Imbabura</td>
                      {% elif oferta.lugar_aplicacion == 12|stringformat:"s" %}
                        <td>Loja</td>
                      {% elif oferta.lugar_aplicacion == 13|stringformat:"s" %}
                        <td>Los Rios</td>
                      {% elif oferta.lugar_aplicacion == 14|stringformat:"s" %}
                        <td>Manabi</td>
                      {% elif oferta.lugar_aplicacion == 15|stringformat:"s" %}
                        <td>Morona Santiago</td>
                      {% elif oferta.lugar_aplicacion == 16|stringformat:"s" %}
                        <td>Napo</td>
                      {% elif oferta.lugar_aplicacion == 17|stringformat:"s" %} 
                        <td>Orellana</td> 
                      {% elif oferta.lugar_aplicacion == 18|stringformat:"s" %}
                        <td>Pastaza</td>
                      {% elif oferta.lugar_aplicacion == 19|stringformat:"s" %}
                        <td>Pichincha</td>
                      {% elif oferta.lugar_aplicacion == 20|stringformat:"s" %}
                        <td>Santa Elena</td>
                      {% elif oferta.lugar_aplicacion == 21|stringformat:"s" %}
                        <td>Santo Domingo de los Tsachilas</td>
                      {% elif oferta.lugar_aplicacion == 22|stringformat:"s" %}
                        <td>Sucumbios</td>
                      {% elif oferta.lugar_aplicacion == 23|stringformat:"s" %}
                        <td>Tungurahua</td>
                      
                      {% else %}
                        <td>Zamora Chinchipe</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <td class="text-muted">Fecha disponibilidad</td>
                      <td class="text-muted">Desde:</td>
                      <td>{{oferta.tiempo_inicio_disponible}}</td>
                      <td class="text-muted">Hasta:</td>
                      <td>{{oferta.tiempo_fin_disponible}}</td>
                    </tr>
                  </tbody>
                </table>  
              </div>
            </div>
             <!-- Perfil del beneficiario  y del cliente-->
            <div class="col-sm-12">
              <div class="block-header">
                <h2>
                  <span class="title">Perfiles</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
                </h2>
              </div>
              <div class="col-sm-10">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text-muted">Beneficiario</td>
                      <td>{{oferta.perfil_beneficiario}}</tr>
                    <tr>
                      <td class="text-muted">Cliente</td>
                      <td>{{oferta.perfil_cliente}}</tr>
                  </tbody>
                </table>  
              </div>
            </div>
            <!-- Otros datos relevantes de la oferta-->
            <div class="col-sm-12">
              <div class="block-header">
                <h2>
                  <span class="title">Otros</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
                </h2>
              </div>
              <div class="col-sm-10">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text-muted">Soluciones Alternativas</td>
                      <td>{{oferta.soluciones_alternativas}}</tr>
                    <tr>
                      <td class="text-muted">Propuesta de Valor</td>
                      <td>{{oferta.propuesta_valor}}</tr>
                    <tr>
                      <td class="text-muted">Evidencia de Tracción</td>
                      <td>{{oferta.evidencia_traccion}}</tr>
                  </tbody>
                </table>  
              </div>
            </div>
          </div>

          </div>
        </div>

</div>
























{% endblock %}