

            <form role="form" ng-controller="createController">
                <div class="form-group">
                <label for="fecha">Fecha de Vencimiento</label>
                <input type="date" class="form-control" id="fecha">
              </div>
                <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre">
              </div>
                 <div class="form-group">
                <label for="req">Requerimientos</label><br>
                     <textarea  class="form-control" rows="3" id="req"></textarea>
                </div>
            <div class="form-group">
              <button type="button" data-dismiss="modal" class="btn btn-green">CREAR</button>
                <button type="reset" class="btn btn-red">RESET</button>
            </div>
            </form>