
            <form role="form" ng-controller="createController">
                <div class="form-group">
                <label for="fecha">Fecha de Inicio</label>
                <input type="date" class="form-control" id="fecha">
              </div>
                 <div class="form-group">
                <label for="fecha">Fecha de Fin</label>
                <input type="date" class="form-control" id="fecha">
                </div>
            <div class="form-group">
              <button type="button" data-dismiss="modal" class="btn btn-green">CREAR</button>
                <button type="reset" class="btn btn-red">RESET</button>
            </div>
            </form>