    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Incubaciones</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="col-sm-4 col-md-3">
            <div class="user-menu bottom-15">
            <ul>
              <li>
                <a href="#/crear">
                  <i class="sign fa fa-plus bg-amethyst"></i>Crear Incubacion
                </a>  
            </ul>
          </div>
          </div>
      <div class="row">

        <div class="col-sm-8 blog-summary-list" ng-controller="IncubacionController as InCtrl">
          <div>
              <input type="text" placeholder="Buscar...." ng-model="buscarInc" class="form-control">
          </div>
          <!-- First blog post -->
            <div class="blog-summary" ng-repeat=" inc in InCtrl.incubaciones|filter:buscarInc |orderBy:inc.fecha:reverse">
              <h4 ng-class="{'new-story':InCtrl.isToday(inc.fechaInicio)}"><a href="#/incubaciones/{{ inc.id }}">{{ inc.nombre }}</a></h4>
              <ul class="text-muted list-inline">
                <li><i class="fa fa-calendar"></i> {{ inc.fechaInicio|date }}</li>
                <li><i class="fa fa-tasks"></i> {{ inc.ofertasIncubadas }} Incubadas</li>
              </ul>
              <hr>
              <p class="blog-text">
            <!--     <img class="pull-right img-responsive blog-img" alt="Blog Image" style="display: block; width: 100%; max-height: 200px" src="../static/img/works1.jpg"> -->
                  {{ inc.descripcion }}
              </p>
              <p class="tags">
                <a href="" ng-repeat="tipo in inc.tipoOfertas">{{ tipo.codigo|lowercase }}</a>
              </p>
            </div>
            <br/>
            <div class="alert alert-danger alert-dismissable" ng-show="InCtrl.incubaciones.length==0">
                <p>No hay ninguna Incubaci&oacute;n disponible</p>
            </div>
          <!-- Pagination -->
          <!--<ul class="pagination pull-right">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>-->
        </div>
      </div>
    </div>