{% extends "USUARIO_profile.html" %}
{% block seccion %}Búsqueda{% endblock %}
{%block menuperfil%}
        <!-- Profile Menu -->
        <div class="col-sm-4 col-md-3">
          <div class="user-menu bottom-15">
            <ul>
             <!--  <li>
                <a href="{% url 'usuarios.views.perfil_view' %}"  class="link" class="active" >
                  <i class="sign fa fa-user bg-green"></i> Mi Perfil <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li> -->
               <li>
                <a href="/busqueda/">
                  <i class="sign fa fa-search bg-blue"></i> Búsqueda General<i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
              <li>
                <a href="/busquedaOferta/">
                  <i class="sign fa fa-lightbulb-o bg-blue"></i> Oferta<i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>

              <li>
                <a href="/busquedaDemanda/">
                  <i class="sign fa fa-hand-o-up bg-red"></i> Demanda <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>

              <li>
                <a href="/busquedaConcurso/">
                  <i class="sign fa fa-trophy bg-amethyst"></i> Concurso<i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>

              <li>
                <a href="/busquedaUsuario/">
                  <i class="sign fa fa-user bg-green"></i> Usuarios <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>

              <!--<li>
                <a href="{% url 'usuarios.views.logout' %}">
                  <i class="sign fa fa-sign-out bg-amethyst"></i> Cerrar sesi&oacute;n <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li> -->
            </ul>
          </div>
        </div>
        {%endblock%}
        
{% block contenidoUsuario %}
        
        <div class="col-sm-8 col-md-7">
          <!-- List of recent dialogs -->
          <h2><span>{{tipoB}}</span></h2>
          <div class="pm-search">
            <form role="form" method='GET' action="/{{linkTipo}}/">
              <div class="row">
                <div class="col-sm-12 col-md-10">
                  <div class="input-group">

                      
                     <input type="text" class="form-control" name="q" id="pm-search" placeholder="Ingresa tu búsqueda aquí">
                      <span class="input-group-btn">
                      <input type="submit" class="btn btn-dark" value="Buscar">
                      </span>
                    

                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="pm-list">
            <ul>
              {% if name %}
                <h2>Resultados para "{{ name|escape }}":</h2>
                {% if results1 %}
                  <h3>Ofertas</h3>
                  {%for val in results1 %}
                  
                  <li>
                    <p class="text-muted">
                      <h4><a href="/misOfertas/">{{ val.nombre|escape }}</a>    
                      <p>Descripción: {{val.descripcion|escape}}</p>
                      <p>Dominio: {{val.dominio|escape}}</p></h4>
                    <div class="clearfix"></div>
                    </p>
                  </li>
                  {%endfor%}

                {% elif results2 %}
                  <h3>Demandas</h3>
                  {%for val in results2%}

                  <li>
                    <p class="text-muted">
                      <h4><a href="/misDemandas/">{{ val.nombre|escape }}</a>    
                      <p>Descripción: {{val.descripcion|escape}}</p>
                      <p>Dominio: {{val.dominio|escape}}</p></h4>
                    <div class="clearfix"></div>
                    </p>
                  </li>
                  {%endfor%}

                {% elif results3 %}
                  <h3>Concursos</h3>
                  {%for val in results3%}
                  <li>

                    <p class="text-muted">
                      <h4><a href="/verConcurso/?q={{val.idConcurso}}">{{ val.nombre|escape }}</a>    
                      <p>Descripción: {{val.descripcion|escape}}</p>
                      <p>Dominio: {{val.dominio|escape}}</p></h4>
                    <div class="clearfix"></div>
                    </p>
                  </li>
                  {%endfor%}

                 {% elif resultsUser %}
                  <h3>Usuarios</h3>
                  {%for val in resultsUser%}
                  <li>
                    <p class="text-muted">
                      <h4><a href="/verPerfil/?q={{val}}">{{ val.first_name|escape }} {{ val.last_name|escape }}</a>    
                      <p>Correo: {{val.email|escape}}</p>
                      <p>Username: {{val.username|escape}}</p></h4>
                    <div class="clearfix"></div>
                    </p>
                  </li>
                  {%endfor%}
                  
                {% else %}
                  <p>No se encontraron similitudes</p>
                {% endif %}
              {% else %}

              {% endif %}
            </ul>
          </div>
          <!-- Pagination 
          <ul class="pagination pull-right">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>-->
        </div>

{%endblock%}
 {%block galeriaUsuario%}
 {%endblock%}