    {% extends "base.tpl.html" %}
{%block content%}

    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>{% block seccion %}Perfil{% endblock %}</span></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        {%block menuperfil%}
        <!-- Profile Menu -->
        <div class="col-sm-4 col-md-3">
          <div class="user-menu bottom-15">
            <ul>
              <li>
                <a href="{% url 'usuarios.views.perfil_institucion' %}"  class="link" class="active" >
                  <i class="sign fa fa-user bg-green"></i> Perfil Institucion<i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
              <li>
                <a href="/editarperfilInst/">
                  <i class="sign fa fa-edit bg-blue"></i> Editar Perfil<i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
              <li>
                <a href="{% url 'usuarios.views.mensajes_view' %}">
                  <i class="sign fa fa-envelope bg-red"></i> Bandeja de Entrada <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
              <li>
                <a href="{% url 'usuarios.views.logout' %}">
                  <i class="sign fa fa-sign-out bg-amethyst"></i> Cerrar sesi&oacute;n <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
            </ul>
          </div>
        </div>
        {%endblock%}
        <!-- Avatar & social links -->
        {%block contenidoUsuario%}
        <div class="col-sm-8 col-md-6">
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <div class="avatar">
                  <a href="#" class="thumbnail bottom-15" data-toggle="modal" data-target="#upload-avatar" id="a_avatar">
                    <img src="{{MEDIA_URL}}{{ institucion.imagen }}" alt="...">
                  </a>
                  <!-- Upload new avatar bubble -->
                 <!--  <div class="avatar-bubble">
                    <a href="#" data-toggle="modal" data-target="#upload-avatar"><i class="fa fa-plus"></i> New avatar</a>
                  </div> -->
                </div>
              </div>
              <!-- Modal window: Send a private message -->
                <div class="modal fade" id="upload-avatar" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="upload-avatar-title">Subir una nueva imagen</h4>
                      </div>
                      <div class="modal-body">
                        <p>Please choose a file to upload. JPG, PNG, GIF only.</p>
                        <form role="form" action="/actualizarFoto/" method="POST"  enctype="multipart/form-data">
                          <div class="form-group">
                            <label for="imagen">File input</label>
                            <input type="file" id="id_imagen">
                            <p class="help-block">Files up to 5Mb only.</p>
                          </div>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-green" data-dismiss="modal">Subir</button>
                        </form>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- End of modal window -->
            </div>
            <!-- Main profile info -->
            <div class="col-sm-8">
              <h3 class="hl" id="principalNombre">{{institucion.nombre_corto}} <br/><small> Usuario Instituci&oacute;n</small></h3>
              <hr>
              <!-- User status update form -->
              <!-- <div class="user-status">
                <p class="show"><a href="#" id="update-status">Click aqu&iacute; para actualizar tu estado</a></p>
                <form class="hidden" role="form">
                  <div class="row">
                    <div class="col-sm-10">
                      <div class="input-group">
                        <input type="text" class="form-control input-sm" id="status" placeholder="Actualiza tu estado">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-sm btn-default">Guardar</button>
                        </span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
               -->
               <div class="bottom-15">
                <!-- <a href="/enviarMensaje/" class="btn btn-green btn-sm" data-toggle="modal" data-target="#sendemail"><i class="fa fa-envelope"></i> Enviar mensaje</a>  -->
<!--               <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#sendpm"><i class="fa fa-mail-forward text-muted"></i> Enviar Mensaje</a>-->
                <!-- Modal window: Send an email -->
                <div class="modal fade" id="sendemail" tabindex="-1" role="dialog" aria-labelledby="sendemailtitle" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <img src="{{MEDIA_URL}}{{ institucion.imagen }}" alt="..." id="mensajeFoto">
                        <h4 class="modal-title" id="mensajeTitulo">Usuario Instituci&oacute;n</h4>
                       <!--  <p class="text-muted"><i class="fa fa-envelope"></i> Nuevo Mensaje</p> -->
                        <div class="clearfix"></div>
                      </div>
                      <div class="modal-body">
                        <form role="form">
                          <div class="form-group">
                            <label for="subject" class="sr-only">Asunto</label>
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                          </div>
                          <div class="form-group">
                            <label for="message-1" class="sr-only">Mensaje</label>
                            <textarea class="form-control" rows="3" id="message-1" placeholder="Escribe tu mensaje aquí"></textarea>
                          </div>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                          <button type="button" class="btn btn-green" data-dismiss="modal">Enviar</button>
                        </form>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- End of modal window -->
                <!-- Modal window: Send a private message -->
                <div class="modal fade" id="sendpm" tabindex="-1" role="dialog" aria-labelledby="sendpmtitle" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <img src="../static/img/face1.jpg" alt="...">
                        <h4 class="modal-title" id="sendpmtitle">Usuario Instituci&oacute;n</h4>
<!--
                        <p class="text-muted"><i class="fa fa-envelope"></i> Nuevo PM</p>-->
                        <div class="clearfix"></div>

                      </div>
                    <!--  <div class="modal-body">
                        <form role="form">
                          <div class="form-group">
                            <label for="message-2" class="sr-only">Mensaje</label>
                            <textarea class="form-control" rows="3" id="message-2" placeholder="Escribe tu mensaje aquí"></textarea>
                          </div>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                          <button type="button" class="btn btn-green" data-dismiss="modal">Enviar</button>
                        </form>
                      </div>
                    -->
                  </div> <!--/.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- End of modal window -->
              </div>
            </div>
          </div>
          <!-- About Me -->
<!--
          <div class="row">
            <div class="col-sm-12">
              <h4 class="hl"><i class="fa fa-user"></i> Acerca de mi</h4>
              <p class="bottom-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tortor nunc, dapibus a est sed, tempus bibendum arcu. Nullam pretium arcu in neque congue tempor. Quisque quis mauris sit amet magna fermentum tincidunt et a enim. Aliquam eu rhoncus libero, a pulvinar metus.</p>
              <hr>
            </div>
          </div>
-->
          <!-- General Information -->
          <div class="row">
            <div class="col-sm-12">
              <h4 class="hl"><i class="fa fa-info-circle"></i> Informaci&oacute;n General</h4>
              <table class="table">
                <tbody id="infogeneral">
<!--
                  <tr>
                    <td class="text-muted">Cargo</td>
                    <td>Usuario Independiente</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Instituci&oacute;n</td>
                    <td>ESPOL</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Ubicaci&oacute;n</td>
                    <td>Ecuador</td>
                  </tr>
-->
              <tr>
                    <td class="text-muted">Nombre de Instituci&oacute;n</td>
                    <td>{{usuario.first_name}} </td>
                  </tr>
                  <tr>
                    <td class="text-muted">Descripci&oacute;n</td>
                    <td>{{institucion.descripcion}}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Misi&oacute;n</td>
                    <td>{{institucion.mision}}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Recursos</td>
                    <td>{{institucion.recursos}}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Administrador</td>
                    <td>{{institucion.persona_que_registra}}</td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </div>
          </div>
          <!-- Contact Information -->
          <div class="row">
            <div class="col-sm-12">
              <h4 class="hl"><i class="fa fa-map-marker"></i> Informaci&oacute;n de Contacto</h4>
              <table class="table">
                <tbody id="infocontacto">
<!--
                  <tr>
                    <td class="text-muted">Email</td>
                    <td>example@gmail.colm</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Sitio Web</td>
                    <td>http://www.example.com</td>
                  </tr>
-->                 
                  <tr>
                    <td class="text-muted">Email</td>
                    <td>{{usuario.email}} </td>
                  </tr>
                  <tr>
                    <td class="text-muted">Teléfono</td>
                    <td>{{institucion.telefono}} </td>
                  </tr>
                  <tr>
                    <td class="text-muted">Sitio Web</td>
                    <td>{{institucion.sitio_web}} </td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </div>
          </div>
        </div>
        {%endblock%}
        <!-- Stats and Galery -->
        {%block galeriaUsuario%}
        <!-- <div class="col-sm-8 col-sm-offset-4 col-md-3 col-md-offset-0">
          <div class="block-inverse">
            <div class="head-inverse">
              <div class="text-center">
                <strong class="text-muted">Mis Proyectos</strong>
              </div>
            </div>
            <div class="body-inverse">
              <p class="text-center">
                <strong class="text-muted">Mis Ofertas</strong>
              </p>
              <div class="user-gallery text-center">
                <a href="#">
					<img src="../static/img/works1.jpg" alt="...">
				</a>
                <a href="#"><img src="../static/img/works2.jpg" alt="..."></a>
                <a href="#"><img src="../static/img/works3.jpg" alt="..."></a>
                <a href="#"><img src="../static/img/works4.jpg" alt="..."></a>
                <a href="#"><img src="../static/img/works1.jpg" alt="..."></a>
                <a href="#"><img src="../static/img/works2.jpg" alt="..."></a>
                <a href="#"><img src="../static/img/works3.jpg" alt="..."></a>
                <a href="#"><img src="../static/img/works4.jpg" alt="..."></a>
                <a href="#"><img src="../static/img/dots.jpg" alt="..."></a>
              </div>
            </div>
          </div>
        </div>
         -->
         {%endblock%}
      </div>
    </div>

  {% endblock %}
