    {% extends "base.tpl.html" %}
{%block content%}

    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Editar Perfil</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <!-- Profile Menu -->
        <div class="col-sm-4 col-md-3">
          <div class="user-menu bottom-15">
            <ul>
              <li>
                <a href="USUARIO_profile.html" class="link">
                  <i class="sign fa fa-user bg-green"></i> Mi Perfil <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
              <li>
                <a href="USUARIO_edit-profile.html" class="active" class="link">
                  <i class="sign fa fa-edit bg-blue"></i> Editar Perfil<i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
              <li>
                <a href="USUARIO_inbox.html" class="link">
                  <i class="sign fa fa-envelope bg-red"></i> Inbox <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
              <li>
                <a href="index.html">
                  <i class="sign fa fa-sign-out bg-amethyst"></i> Cerrar sesi&oacute;n <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8 col-md-6">
          <!-- Edit profile form -->
          <h3 class="hl" id="tituloNombre">Editar Perfil <small>Alex Smith</small></h3>
          <p class="text-muted">Por favor llena correctamente los campos para editar tu perfil.</p>
          <hr>
          <h4 class="hl bottom-15">Informaci&oacute;n General</h4>
          <form role="form">
            {{ form.non_field_errors }}
            {%for f in form%}
                            <!-- 
                                <div  class="form-group">
                                   {{f.errors}}
                                  {{f.label_tag}}<br>
                                 {{f}}
                                </div> -->

                             {%if f.id_for_label == "id_username"%}

                             <div class="form-group">
                             {{f.errors}}
                             {{f.label_tag}}<br>
                             <input type="text" class="form-control" id="id_username" name="username" placeholder="Username"/>
                             </div>
                             {%elif f.id_for_label == "id_password1"%}
                             <div class="form-group">
                             {{f.errors}}
                             {{f.label_tag}}<br>
                             <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Password" />
                            </div>
                             {%elif f.id_for_label == "id_password2"%}
                            <div class="form-group">

                            {{f.errors}}

                            {{f.label_tag}}<br>

                             <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Confirma Password"/>

                            </div>
                             {%else%}

                             <div class="form-group">
                             
                             {{f.errors}}

                             {{f.label_tag}}<br>
                             {{ f }}
                             </div>
                             {%endif%}
                                    {%endfor%} 

            <button type="submit" class="btn btn-green pull-right">Aceptar</button>
            <div class="clearfix"></div>
          </form>
          <h4 class="hl bottom-15">Configuraci&oacute;n del Perfil</h4>
          <hr>
          <form role="form">
            <div class="form-group">
              <label>Notificaciones</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Marque esta casilla si desea dejar de recibir notificaciones.
                </label>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label>Aceptar e-mails</label>
              <p class="text-muted">Desea recibir e-mails de otros usuarios?</p>
              <label class="radio-inline" for="radios-0">
                <input type="radio" name="radios" id="radios-0" value="Si" checked="checked">
                  Yes
              </label>
              <label class="radio-inline" for="radios-1">
                <input type="radio" name="radios" id="radios-1" value="No">
                  No
              </label>
            </div>
            <hr>
            <button type="submit" class="btn btn-green pull-right">Aceptar</button>
          </form>
        </div>
      </div>
    </div>
{%endblock%}
 {%block galeriaUsuario%}
 {%endblock%}