{% extends "base.tpl.html" %}
{% block home %}
<a class="navbar-brand" href="{% url 'usuarios.views.inicio_view' %}" class="link">REI-NET</a>
{% endblock %}
{% block content %}
<!-- Main body
================== -->

    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Inicio</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ul class="row list-inline gallery-list" id="isotope-container">
        <li class="isotope-item cat-3 cat-1">
          <a href="crearConcurso">
            <span class="gallery-text">
              <span class="gallery-title"> + Crear Concurso</span>
            </span>
          </a>
        </li>
      </ul>
      <h3>MIS CONCURSOS</h3>
      <ul class="row list-inline gallery-list" id="isotope-container">
      
		<!-- Se presenta los concursos en li--> 
		
		{% for c in lst_concursos%}
		
		 <li class="isotope-item cat-1 cat-2 cat-4">
          <a href="verConcurso/?q={{c.idConcurso}}">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="{{MEDIA_URL}}{{ c.imagen }} " alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">{{ c.nombre }}</span>
              {{ c.descripcion }} JOSE
            </span>
          </a>
        </li>
		
		{% endfor %}
		
		<!--     
        <li class="isotope-item cat-1 cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works1.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Proyecto Manhattan</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works2.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Robots parlantes</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-3 cat-1">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works3.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Falsificador de notas</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works4.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Paseador de perros</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        -->
                
      </ul>
    </div>
	
	
	<!-- Bloque de AREA DE INTERES-->
	
	<div class="container">
      <h3>Areas de inter&eacute;s</h3>
      <ul class="row list-inline gallery-list" id="isotope-container">
        <li class="isotope-item cat-1 cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works1.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Proyecto Manhattan</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works2.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Robots parlantes</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-3 cat-1">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works3.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Falsificador de notas</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works4.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Paseador de perros</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
      </ul>
    </div>
	

    
{% endblock %}