{% extends "base.tpl.html" %}
{% block home %}
<a class="navbar-brand" href="{% url 'usuarios.views.verInicioF' %}" class="link">REI-NET</a>
{% endblock %}
{% block content %}
<!-- Main body
================== -->

    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Concursos de la Red de Innovaci&oacute;n</span></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

    <div class="row"> 
      <div class="col-sm-12">
        {% ifequal tipo_user "institucion" %}
                  <div class="col-sm-4 col-md-3">
            <div class="user-menu bottom-15">
            <ul>
              <li>
                <a href="/crearConcurso/">
                  <i class="sign fa fa-plus bg-amethyst"></i>Crear Concurso
                </a> 
                </li> 
            </ul>
          </div>
          </div>
        {% endifequal %}
      </div>
    

    <div class="col-md-6 col-sm-3 hidden-xs">
      {% ifequal tipo_user "persona" %}
          <div class="row faq-cats">
            <div class="col-xs-6 col-xs-offset-6 visible-xs">
              <ul>
                <li><i class="fa fa-home fa-2x"></i><a href="#">Concursos que Participo</a></li>
              </ul>
            </div>
          </div>
          <div class="row faq-cats">
            <div class="col-xs-6 col-xs-offset-6 visible-xs">
              <ul>
                <li><i class="fa fa-home fa-2x"></i><a href="#">Concursos en los que soy Jurado</a></li>
              </ul>
            </div>
          </div>
      {% endifequal %}
    </div>

    </div>
    </div>

    <div class="container">

    {% ifequal tipo_user "institucion" %}
    <h3>MIS CONCURSOS</h3>
    {% endifequal %}
    {% ifequal tipo_user "persona" %}
    <h3>CONCURSOS</h3>
    {% endifequal %}
      <ul class="row list-inline gallery-list" id="isotope-container">
      
    <!-- Se presenta los concursos en li--> 

    {% if lst_concursos %}

      {% for c in lst_concursos%}
      
       <li class="isotope-item cat-1 cat-2 cat-4">
            <a href="verConcurso/?q={{c.idConcurso}}">
              <span class="gallery-thumbnail">
                <img class="img-responsive" src="{{MEDIA_URL}}{{ c.imagen }} " alt="...">
              </span>
              <div style="word-wrap: break-word;">
              <span class="gallery-text">
                <span class="gallery-title">{{ c.nombre }}</span>
                {{ c.descripcion }} 
              </span>
            </div>
            </a>
          </li>
      
      {% endfor %}


    {% else %}
      
      <div style="background-color:white; color:white; margin:20px; padding:20px; display:block; visible:hidden;min-height:250px;min-width:75px;">

      </div>

    {% endif %}
    
    <!--     
        <li class="isotope-item cat-1 cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works1.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Proyecto Manhattan</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works2.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Robots parlantes</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-3 cat-1">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works3.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Falsificador de notas</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works4.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Paseador de perros</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        -->
                
      </ul>
    </div>
  
  
  <!-- Bloque de AREA DE INTERES-->
  <!--
  <div class="container">
      <h3>Areas de inter&eacute;s</h3>
      <ul class="row list-inline gallery-list" id="isotope-container">
        <li class="isotope-item cat-1 cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works1.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Proyecto Manhattan</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works2.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Robots parlantes</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-3 cat-1">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works3.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Falsificador de notas</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
        <li class="isotope-item cat-2 cat-4">
          <a href="verConcurso">
            <span class="gallery-thumbnail">
              <img class="img-responsive" src="../../static/img/works4.jpg" alt="...">
            </span>
            <span class="gallery-text">
              <span class="gallery-title">Paseador de perros</span>
              Nullam id ipsum varius, tincidunt odio nec, placerat enim.
            </span>
          </a>
        </li>
      </ul>
    </div>
  -->
  

    
{% endblock %}