{% extends "base.tpl.html" %}
{%block content%}


    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Perfil Concurso</span></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">        
      <div class="row">


      <div class="col-sm-12">

        <div class="col-sm-8">
            <div class="col-sm-12">
              <h3>
                {{concurso.nombre}}
              </h3>
            </div>

            <div class="col-sm-12">
              <ul class="text-muted list-inline">
                <li><i class="fa fa-flag"></i> {{ concurso.estado }}</li>
                <li><i class="fa fa-user"></i> <a href="profile.html">{{ concurso.idusuario }}</a></li>
              </ul>
            </div>
    

          <div class="col-sm-12" style="word-wrap: break-word;">        
          <p class="blog-text">
            <div class="col-md-3 col-sm-6">
              <div class="thumbnail">
                  <img src="/media/{{ concurso.imagen }} " class="img-responsive" alt="Concurso">
              </div>
            </div>
            {{ concurso.descripcion }} 
            <br /><br />
          </p>
          </div>
      
            <!-- Informacion general dominio,subdominio,disponibilidad, lugar de palicacion -->
            <div class="col-sm-12">
              <div class="block-header">
                <h2>
                  <span class="title">Informaci&oacute;n General</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
                </h2>
              </div>
              <div class="col-sm-12">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text-muted">Dominio</td>
                      <td colspan=4>{{ concurso.dominio }}</td>
                    </tr>
                    <tr>
                      <td class="text-muted">Subdominio</td>
                      <td colspan=4>{{ concurso.subdominio }}</td>
                    </tr>
                    <tr>
                      <td class="text-muted">Alcance</td>
                      <td colspan=4 style="position: relative; word-break:break-all;">{{ concurso.alcance }}</td>
                    </tr>
                    <tr>
                      <td class="text-muted">Fecha disponibilidad</td>
                      <td class="text-muted">Desde:</td>
                      <td>{{concurso.fecha_inicio}}</td>
                      <td class="text-muted">Hasta:</td>
                      <td>{{ concurso.fecha_fin}}</td>
                    </tr>
                  </tbody>
                </table>  
              </div>
            </div>

             <!-- Perfil del beneficiario  y del cliente-->
            <div class="col-sm-12" style="word-wrap: break-word;">
              <div class="block-header">
                <h2>
                  <span class="title">Otros</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
                </h2>
              </div>
              <div class="col-sm-12">
                <table class="table" style="position: relative;">
                  <tbody style="position: relative;">
                    <tr>
                      <td class="text-muted" >Perfil</td>
                      <td >{{ concurso.perfil }}</td>
                    </tr>
                    <tr>
                      <td class="text-muted">Condiciones</td>
                      <td style="position: relative; word-break:break-all;">{{ concurso.condiciones }}</td>
                    </tr>
                    <tr>
                      <td class="text-muted">Tipo de Ofertas</td>
                      <td>{{ concurso.tipo_oferta }}</td>
                    </tr>
                    <tr>
                      <td class="text-muted">N&uacute;meros de Finalistas</td>
                      <td>{{ concurso.num_finalistas }}</td>
                    </tr>
                    <tr>
                      <td class="text-muted">Premios</td>
                      <td style="position: relative; word-break:break-all;">{{ concurso.premios }}</td>
                    </tr>
                    <tr>
                      <td class="text-muted">Estado</td>
                      <td>{% if concurso.estado == 1%} <p>Activo en convocatoria</p>{% endif %}</td>
                    </tr>
                  </tbody>
                </table>  
              </div>
            </div>


        </div>  

        <div class="col-sm-4">
          {% if val %}


                <div class="user-menu bottom-15">
                  <ul>
                    <li>
                      <a href="../editarConcurso/?q={{ concurso.idConcurso}}">
                        <i class="sign fa fa-edit bg-blue"></i> Editar Concurso <i class="fa fa-chevron-right pull-right"></i>
                      </a>  
                    </li>
                   
                  </ul>
                </div>


          {% endif %}
      
      <h4>Milestones : </h4>
     <div class="timeline-block" >
          <!-- First blog post -->
      {% for m in milestones%}
            <div class="blog-summary">
              <h4 class="new-story"><a href="#" id="openmile">Milestone {{m.peso}}%</a></h4>
              <time datetime="2013-11-10" class="timestamp hidden-xs">{{ m.fecha_entrega }}</time>
              <ul class="text-muted list-inline">
                <li><i class="fa fa-user"></i> {{ concurso.idusuario }}</a></li>
                <li><i class="fa fa-calendar"></i> {{ m.fecha_entrega }}</li>
              </ul>
              <hr>
              <p class="blog-text">
                {{ m.requerimiento }} 
              </p>
            </div>
      {% endfor %}
      <!--End mile -->
           
          </div>

          

      </div>




      
    </div>
  </div>
</div>
{% endblock %}