{% extends "base.tpl.html" %}
{% block content %}
<!-- Main body
================== -->
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Crear Concurso </span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Help Center -->
      <div class="row">
        <!-- Profile Menu -->
        <div class="col-sm-4 col-md-3">
          <div class="user-menu bottom-15">
            <ul>
              <li>
                <a href="{% url 'concursoIncubacion.views.homeConcursos' %}">
                  <i class="sign fa fa-sign-out bg-amethyst"></i> Cancelar <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-9 col-md-8 col-xs-9">
                      
      {% if messages %}
            {% for message in messages %}
            <div class="col-md-12">
              <div class="alert alert-danger h4">
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              </div>
            </div>
            {% endfor %}
      {% endif %}
        
        
          <!-- Edit profile form -->
          <h3 class="hl">Crear <small>Concurso </small> </h3>
          <p class="text-muted">Por favor ingrese los datos del concurso.</p>
          <hr>

          <ul class="nav nav-tabs">
            <li class="active"><a href="#informacionG" data-toggle="tab"><h5 class="hl bottom-15">Informaci&oacute;n General</h5></a></li>
            <li ><a href="#jurado_consultor" data-toggle="tab"><h5 class="hl bottom-15">Invitar Jurado</h5></a></li>
            <li><a href="#milestones" data-toggle="tab"><h5 class="hl bottom-15">Milestones</h5></a></li>
          </ul>


      <form role="form" id="formulario" action="/crearConcurso/" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {#{ form.as_p }#}

          <div class="tab-content">

            <div class="tab-pane col-xs-10 col-xs-offset-1 active" id="informacionG">
              {% for f in form %}
                {% if f.label == "Fecha Inicio" or f.label == "Fecha Final" %}
                  <div class="form-group col-xs-6">
              <label>{{ f.label }}</label>
              <p>{{ f }}</p>
                  </div>
                {% else %}
                  <div class="form-group">
                      <label>{{ f.label }}</label>
              <p>{{ f }}</p>
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="tab-pane col-xs-10 col-xs-offset-1" id="jurado_consultor">
        <div id="jurados">
          <div>
            <label>Jurados:</label><br />
            <button id="nuevoJurado" type='button' class="btn btn-dark">Nuevo Jurado</button> <button id="menosJurado" type='button' class="btn btn-dark">Eliminar Ultimo Jurado</button>
            <br /><br />
          </div>
          <div>
            <input class="form-control" type="text" name="jurado" value="" required/>
            <br />
          </div>
        </div>
            </div>

            <div class="tab-pane col-xs-10 col-xs-offset-1" id="milestones">
        <div id="miles">
          <div>
            <label>Crear Milestones:</label><br />
            <button id="nuevoMile" type='button' class="btn btn-dark">Nuevo Milestone</button> <button id="menosMile" type='button' class="btn btn-dark">Eliminar Ultimo Milestone</button>
            <br /><br />
          </div>
          <div>
            <h4> Nuevo Milestone </h4>
            <label>Requerimiento:</label><br />
            <input class="form-control" type="text" name="mileReq" value="" required/>
            <br />
            <label>Peso:</label><br />
            <input class="form-control" type="number" name="milePeso" value="" required/>
            <br />
            <label>Fecha de Entrega:</label><br />
            <input class="form-control" type="date" name="mileFecha" value="" required/>
            <br />
          </div>
        </div>
    
            </div>
      
              <input type="submit" class="btn btn-green pull-right" value="Crear Concurso"></input>
          </div>
 
     </form>


        </div>
      </div>
    </div>
    <script>
    function init() {
      var newJurado = document.getElementById("nuevoJurado");
      newJurado.addEventListener("click", nuevoJurado, false);
      var noJurado = document.getElementById("menosJurado");
      noJurado.addEventListener("click", eraseJurado, false);
      var newmile = document.getElementById("nuevoMile");
      newmile.addEventListener("click", nuevoMile, false);
      var nomile = document.getElementById("menosMile");
      nomile.addEventListener("click", eraseMile, false);
    }
    
    function eraseJurado(){
      var jurados = document.getElementById("jurados");
      if (jurados.childElementCount > 2){ 
        jurados.removeChild(jurados.lastChild);
      }
    }
    
    function nuevoJurado(){
      var input = document.createElement("input");
      var div = document.createElement("div");
      input.type = "text";
      input.name = "jurado";
      input.className = "form-control";
      var jump = document.createElement("br");
      div.appendChild(input);
      div.appendChild(jump);
      document.getElementById("jurados").appendChild(div);
    }
    
    function eraseMile(){
      var miles = document.getElementById("miles");
      if (miles.childElementCount > 2){ 
        miles.removeChild(miles.lastChild);
      }
    }
    
    function nuevoMile(){
      var div = document.createElement("div");
      var title = document.createElement("h4");
      title.innerHTML = "Nuevo Milestone";
      div.appendChild(title);
      var label1 = document.createElement("label");
      label1.innerHTML = "Requerimiento:";
      var input1 = document.createElement("input");
      input1.type = "text";
      input1.name = "mileReq";
      input1.className = "form-control";
      var jump1 = document.createElement("br");
      div.appendChild(label1);
      div.appendChild(input1);
      div.appendChild(jump1);
      var label2 = document.createElement("label");
      label2.innerHTML = "Peso:";
      var input2 = document.createElement("input");
      input2.type = "text";
      input2.name = "milePeso";
      input2.className = "form-control";
      var jump2 = document.createElement("br");
      div.appendChild(label2);
      div.appendChild(input2);
      div.appendChild(jump2);
      var label3 = document.createElement("label");
      label3.innerHTML = "Fecha:";
      var input3 = document.createElement("input");
      input3.type = "date";
      input3.name = "mileFecha";
      input3.className = "form-control";
      var jump3 = document.createElement("br");
      div.appendChild(label3);
      div.appendChild(input3);
      div.appendChild(jump3);
      document.getElementById("miles").appendChild(div);
    }
    
    window.addEventListener("load", init, false);
  </script>
{% endblock %}